
.nav_color {
    background-color: #D90368;
}

.slider {
    height: 62vh;
}

main {
    min-height: auto;
}
.br {
    border-radius: 10px;
}

.letter_color {
    color: #D90368;
}
.bg_color {
    background-color: #D90368;
}
.bg_color:hover {
    background-color: blueviolet;
}
.border_color {
    border: 1px solid #D90368;
}
.jover:hover{
    background-color: #D90368;
    color: white;
}
.b_shadow{
   box-shadow: -.2em -.2em 10px; 
}
.b_shadow_button {
    background-color: #D90368;
    box-shadow: -.2em -.2em 10px blueviolet;
}
.b_shadow_button:hover {
    background-color: blueviolet;
}
.altura {
    height: 11rem;
}
footer {
    background-color: #D90368;
    min-height: 5vh;
}
footer ul {
    height: 2.7rem;
    align-items: center;
}

.bg_color2 {
    background-color: #D90368;
}
.sombra {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.card {
    transition: all 400ms ease;
}
.card:hover {
    transform: translateY(-3%);
}

/*page details*/
.card_total {
    min-width: 80vw;
    min-height: 60vh;
    margin: auto;
    padding: 30px;
}
.alto {
    min-height: 50vh;
}
.ofc{
    object-fit: fill;
}

/*stats*/
caption {
    caption-side: top;
}


/*mediaqueries*/
@media screen and (max-width: 990px){
    .pm {
        padding-left: 10px;
    }
}
@media screen and (max-width: 768px) {
    .slider {
        height: 28vh;
        width: 50vw;
        margin: auto;
    }
    .pm{
        padding-left: 10px;
    }
    .sp {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    
}
@media screen and (max-width: 576px) {
    .slider {
        height: 25vh;
        width: 45vw;
        margin: auto;
    }
}
