
.nav_color {
    background-color: #D90368;
}

.slider {
    height: 80vh;
    width: 80vw;
    margin: auto;
    object-fit: cover;
}

.br {
    border-radius: 10px;
}

.letter_color {
    color: #D90368;
}
.bg_color {
    background-color: #D90368;
}
.bg_color:hover {
    background-color: blueviolet;
}
.border_color {
    border: 1px solid #D90368;
}
.jover:hover{
    background-color: #D90368;
    color: white;
}
.b_shadow{
   box-shadow: -.2em -.2em 10px; 
}
.b_shadow_button {
    background-color: #D90368;
    box-shadow: -.2em -.2em 10px blueviolet;
}
.b_shadow_button:hover {
    background-color: blueviolet;
}

footer {
    background-color: #D90368;
    min-height: 5vh;
}

/*page stats*/
.bg_color2 {
    background-color: #D90368;
}

/*page details*/
.card_total {
    min-width: 80vw;
    min-height: 60vh;
    margin: auto;
    padding: 30px;
}
.alto {
    min-height: 50vh;
}



