
.nav_color {
    background-color: #D90368;
}

.slider {
    height: 80vh;
    width: 80vw;
    margin: auto;
    object-fit: cover;
}

.br {
    border-radius: 10px;
}




.b_shadow{
   box-shadow: -.2em -.2em 10px; 
}
.b_shadow_button {
    box-shadow: -.2em -.2em 10px red;
}
.b_shadow_button:hover {
    background-color: blueviolet;
}

footer {
    min-height: 5vh;
}








